/*#E5F3F2 BACKGROUND
#00A79D IDEA-title, SAVE bttn,
#6D6E71 BOX-title, idea title, quality
#FFFFFF SAVE-rext
#045E55 SAVE-hover
#939598 IDEA body,
#D1D3D4 Idea divider line*/


body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background-color: #E5F3F2;
  width: 100vw;

}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  color: #00A79D;
  margin: 20px 5px 10px;
}

span {
  color: #6D6E71;
}

.quality-text {
  font-size: 15px;
}

input {
  height: 25px;
  width: 80vw;
  font-size: 15px;
  margin: 10px;
  max-width: 330px;
}

.idea-body {
  height: 100px;
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  margin-bottom: 20px;
  height: 30px;
}

.save-button:hover {
  background-color: #045E55;
}

.idea-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.search-input {
  border-style: groove;
  margin-top: 20px;
  height: 30px;
}

/*CARD STUFF*/

.idea-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.idea-render {
  font-family: "Roboto Slab", serif;
  color: #6D6E71;
  height: 160px;
  width: 80vw;
  max-width: 330px;
  max-height: 130px;
  margin: 10px;
  border: 2px solid magenta;
}

.title-render {
  font-size: 25px;
  /*display: inline;*/
  width: 90%;
  vertical-align: bottom;
}

.editable-body {
  font-family: "Open Sans", sans-serif;
  /*display: block;*/
  align-content: flex-start;
  height: 100px;
  width: 100px;
  max-width: 330vw;
  margin: 10px 0px;
  /*border: dashed black 1px;*/
}

.button {
  vertical-align: top;
  height: 25px;
  width: 25px;
  background-color: transparent;
  color: transparent;
  border: none;
}

.delete {
  background-image: url(../Images/delete.svg);
  background-repeat: no-repeat;
  vertical-align: bottom;
  float: right;
}

.delete:hover {
  background-image: url(../Images/delete-hover.svg);
}

.upvote {
  background-image:url(../Images/upvote.svg);
}

.upvote:hover {
  background-image:url(../Images/upvote-hover.svg);
}

.downvote {
  background-image:url(../Images/downvote.svg);
}

.downvote:hover {
  background-image:url(../Images/downvote-hover.svg);
}





@media screen and (min-width: 650px) {
  input, .editable-body, .idea-render, .idea-section {
    width: 50vw;
    max-width: 460px;
  }


}
